---
import Layout from "../layouts/Layout.astro";
import { Button } from "$lib/components/ui/button/index.js";
import ThemeSwitcher from "$lib/components/ThemeSwitcher.svelte";
---

<Layout>
  <div class="min-h-screen p-8">
    <div class="flex justify-end mb-8">
      <ThemeSwitcher client:load />
    </div>
   
  </div>
</Layout>
